.button {
  margin-top: 3.2rem;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 1.2rem 3rem;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.3rem;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}

.buttonBlack {
  margin-top: 2.4rem;
  background-color: transparent;
  border: 2px solid #dadada;
  padding: 1.2rem 3rem;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.3rem;
  transition: 0.3s;
  cursor: pointer;
  color: black;
}

.button:hover {
  color: black;
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0.7);
}

.buttonBlack:hover {
  background-color: #dadada;
}
