.page {
  background-color: white;
  padding: 0 !important;
}

.bg {
  margin-top: 12rem;
  padding: 0 !important;
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/contact/contact-1.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form div div input {
  padding: 1.5rem 3.5rem;
  font-size: 2rem;
  font-family: "EB Garamond", serif;
  outline: none;
  width: 100%;
  border: none;
  border: 1px solid #dadada;
  color: #666;
}

.form div label {
  font-family: "EB Garamond", serif;
  font-size: 2.2rem;
}

.form div {
  margin-top: 2rem;
}

.mT80 {
  margin-top: 8rem;
}

.mT20 {
  margin-top: 2rem;
}

.note {
  font-family: "EB Garamond", serif;
  font-size: 2.2rem;
}

.right {
  margin-top: 2rem;
}

.textarea {
  font-size: 2rem;
  width: 100%;
  border: none;
  border: 1px solid #dadada;
  padding: 1.5rem 3.5rem;
  color: #666;
  font-family: "EB Garamond", serif;
  outline: none;
}

.error {
  font-size: 1.6rem;
  color: red;
  font-family: "EB Garamond", serif;
}

.line {
  border-bottom: 1px solid #666;
}

.line div {
  padding: 1rem 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.line div p {
  margin-bottom: 0;
}

.text {
  font-size: 2.2rem;
  font-family: "EB Garamond", serif;
  font-weight: 100;
  text-transform: capitalize;
}

.checkbox {
  font-size: 2rem !important;
}

.form-check {
  font-size: 2rem;
}

.price {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "EB Garamond", serif;
  margin: 0;
  padding: 1rem 0;
}

.total {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 1rem 0;
}

.address {
  display: flex;
  gap: 1rem;
}

.h1 {
  color: white;
  font-size: 5rem;
  letter-spacing: 0.3rem;
}

@media screen and (max-width: 574px) {
  .address {
    display: block;
  }

  .h1 {
    color: white;
    font-size: 3rem;
  }
}
