.img {
  width: 100%;
  object-fit: cover;
}

.bg {
  height: 38rem;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/shop/pic-2.jpg");
  background-size: cover;
  margin-top: 12rem;
  padding: 0 !important;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  padding: 0 !important;
}

.mtT80 {
  margin-top: 8rem;
}

.text {
  font-size: 2.4rem;
  font-family: "EB Garamond", serif;
  letter-spacing: 0.1rem;
}

.text:last-child {
  cursor: pointer;
}

.cate {
  font-family: "EB Garamond", serif;
  font-size: 2.2rem;
  color: #666;
  letter-spacing: 0.3rem;
}

.h3 {
  margin-top: 3.2rem;
  letter-spacing: 0.3rem;
}

.tag {
  margin-top: 1rem;
  letter-spacing: 0.3rem;
}

.row {
  justify-content: space-evenly;
  align-items: center;
}

.social {
  margin-top: 1rem;
}

.link a {
  text-decoration: none;
  color: #666;
  margin: 0 1rem;
  font-size: 2.2rem;
  font-family: "EB Garamond", serif;
}

.flex {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.p {
  display: flex;
  margin-right: 2rem;
}

.p p {
  margin: 0;
  font-size: 2.2rem;
  padding: 1rem;
  margin: 0 1rem;
  height: 4.9rem;
}

.p p:first-child:hover {
  cursor: pointer;
  background-color: #eee;
  transition: 0.5s;
}

.p p:last-child:hover {
  cursor: pointer;
  background-color: #eee;

  transition: 0.5s;
}

.flex button {
  margin-top: 0;
}

.flex:first-child:hover {
  cursor: pointer;
}

.name {
  text-transform: capitalize;
  margin-top: 2rem;
}

.price {
  margin-top: 1.5rem;
}

.h1 {
  color: #fff;
  font-size: 5rem;
  letter-spacing: 0.3rem;
}

.button {
  margin-top: 2.4rem;
  background-color: transparent;
  border: 2px solid #dadada;
  padding: 1.2rem 3rem;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.3rem;
  transition: 0.3s;
  cursor: pointer;
  color: black;
}

.button:hover {
  background-color: #dadada;
}

@media screen and (max-width: 574px) {
  .h1 {
    font-size: 3rem;
  }

  .button {
    padding: 1.2rem 1rem;
  }
}
