.width {
  width: 100%;
  border: none;
  margin-top: 2rem;
}

.head > * {
  font-size: 1.4rem !important;
  background-color: transparent !important;
  border-color: unset !important;
  color: unset;
  letter-spacing: 0.3rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif !important;
  /* border-bottom: 1px solid #000; */
}

.body {
  font-size: 2.2rem;
  font-family: "EB Garamond", serif;
  letter-spacing: 0.2rem;
  line-height: 1.6;
}

.pd {
  padding: 2rem;
  height: 13rem;
}

@media screen and (max-width: 574px) {
  .pd {
    height: auto;
  }
}
