.bg {
  margin: 0;
  padding: 0 !important;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/shop/pic-1.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mT80 {
  margin-top: 8rem;
}

.mT20 {
  margin-top: 2rem;
}

.page {
  padding: 0 !important;
}

.img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: 0.5s;
  height: 27rem;
}

.search {
  width: 100%;

  padding: 1rem 2rem;

  outline: none;
  font-size: 2.4rem;
  font-family: "EB Garamond", serif;
  color: #333;
}

.sort {
  /* display: flex;
  justify-content: flex-end; */
  height: 100%;
  width: 100%;
  margin-top: 2rem;
}

.select {
  width: 100%;

  padding: 1rem 2rem;
  outline: none;
  font-size: 2rem;
  font-family: "EB Garamond", serif;
  color: #333;
}

.icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.icon svg {
  font-size: 2.4rem;
}

.input {
  position: relative;
}

.pagination {
  display: flex;
  margin-top: 2.4rem;
  justify-content: center;
}

.pagination li a,
.pagination li span {
  font-size: 2.4rem;
  margin: 0 1rem;
  padding: 0 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.pagination p:hover {
  background-color: #dadada;
}

.active > a {
  background-color: aqua !important;
}

.page-link {
  font-size: 1rem;
}

.colLeft {
  padding: 0 5rem !important;
}

.checkbox * {
  font-size: 2rem;
}

@media screen and (max-width: 574px) {
  .product {
    padding: 1rem;
  }
}
